<!DOCTYPE html>

<!-- Nav Bar -->
<nav class="blue-grey darken-3">
  <div class="nav-wrapper">
    <div style="padding-left: 24px;">
      <a href="/" class="brand-logo blue-grey-text text-lighten-5">3pseat Soundboard</a>
    </div>
    <a href="#" data-target="mobile" class="sidenav-trigger">
      <i class="material-icons blue-grey-text text-lighten-1">menu</i>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down" style="padding-right: 18px">
      <li><a href="https://github.com/gpauloski/3pseatBot">GitHub</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav blue-grey darken-4 blue-grey darken-3" id="mobile" style="font-size: 24px;">
  <li><a href="https://github.com/gpauloski/3pseatBot" class="blue-grey-text text-lighten-5">GitHub</a></li>
</ul>
