<!DOCTYPE html>

<!-- Nav Bar -->
<nav class="blue-grey darken-3">
  <div class="nav-wrapper">
    <div style="padding-left: 24px;">
      <a href="/" class="brand-logo blue-grey-text text-lighten-5">3pseat Soundboard</a>
    </div>
    <a href="#" data-target="mobile" class="sidenav-trigger">
      <i class="material-icons blue-grey-text text-lighten-1">menu</i>
    </a>
    {% if login_url %}
    <ul id="nav-mobile" class="right hide-on-med-and-down" style="padding-right: 18px">
      <li><a href="{{ login_url }}">Login</a></li>
    </ul>
    {% elif logout_url %}
    <ul id="nav-mobile" class="right hide-on-med-and-down" style="padding-right: 18px">
      <li><a href="{{ logout_url }}">Logout</a></li>
    </ul>
    {% endif %}
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="https://github.com/gpauloski/3pseatBot">GitHub</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav blue-grey darken-3" id="mobile" style="padding-top: 18px; padding-bottom: 18px; border-color: #37474f; border: 1px; width: 240px">
  <li style="margin-bottom: 4px;">
    <a href="https://github.com/gpauloski/3pseatBot" class="blue-grey-text text-lighten-5" style="font-size: 24px;">
      <i class="small material-icons right-align light-green-text text-accent-1">
          code
      </i>
      GitHub
    </a>
  </li>
  {% if login_url %}
  <li style="margin-bottom: 4px;">
    <a href="{{ login_url }}" class="blue-grey-text text-lighten-5" style="font-size: 24px;">
      <i class="small material-icons right-align light-green-text text-accent-1">
          keyboard_arrow_right
      </i>
      Login
    </a>
  </li>
  {% elif logout_url %}
  <li style="margin-bottom: 4px;">
    <a href="{{ logout_url }}" class="blue-grey-text text-lighten-5" style="font-size: 24px;">
      <i class="small material-icons right-align light-green-text text-accent-1">
          keyboard_arrow_left
      </i>
      Logout
    </a>
  </li>
  {% endif %}
</ul>
